.example-1 {
    position: absolute;
    /*top: 0;*/
}

.example-1-enter {
    bottom: 200px;
    opacity: 0;
    z-index: 1;
}

.example-1-enter-active{
    opacity: 1;
    bottom: 0;
    z-index: 1;
    /*transition: all 2500ms linear;*/
    transition: all 250ms linear;
}

.example-1-exit{
    opacity: 1;
    z-index: 0;
    bottom: 0;
}

.example-1-exit-active{
    opacity: 0;
    z-index: 0;
    /*transition: opacity 2500ms linear 2500ms;*/
    transition: opacity 250ms linear 250ms;
}
